.more__payment__info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  span {
    font-weight: 400;
    font-size: 15px;
    color: #7c7c7c;
    text-align: center;
  }
  img {
    width: 59px;
    margin: 0 7px 0 2px;
  }
  i {
    cursor: pointer;
    color: #00b3e3;
    font-size: 15px;
  }
  .more__payment__info__popup__wrapper {
    display: none;
    .more__payment__info__popup {
      position: absolute;
      width: 300px;
      border-radius: 0;
      background: #fff;
      box-shadow: 0 3px 6px #0000004d;
      border: 1px solid #b2b2b2;
      color: #333;
      overflow: hidden;
      padding: 20px 30px;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      z-index: 99;
      .label,
      .value {
        font-size: 18px;
      }
      img {
        width: 59px;
        margin-bottom: 5px;
      }
      .sm__description {
        font-size: 12px;
        margin-bottom: 0;
      }
      i {
        font-size: 15px;
        color: black;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 678px) {
    span {
      font-size: 13px;
    }
    img {
      width: 40px;
    }
    img {
      font-size: 13px;
    }
    .more__payment__info__popup__wrapper {
      .more__payment__info__popup {
              width: 250px;

        padding: 10px 15px;
        .label,
        .value {
          font-size: 13px;
        }
      }
    }
  }
}
